#!/bin/bash

sudo -e

DB_CONTAINER="mysql"
DB_NAME="db_brink_calcados"
DB_USER="root"
DB_PASSWORD="root"

S3_BUCKET="brinks-bucket-backup-database-${user_suffix}"

BACKUP_DIR="/backup"

DATE=$(date +%F)

FILE_NAME="backup-$${DATE}.sql.gz"

FILE_PATH="$${BACKUP_DIR}/$${FILE_NAME}"

mkdir -p "$${BACKUP_DIR}"

echo "Criando backup do banco de dados $${DATE}"

docker exec "$${DB_CONTAINER}" sh -c "exec mysqldump --databases $${DB_NAME} -u$${DB_USER} -p$${DB_PASSWORD}" | gzip > "$${FILE_PATH}"

if [ $? -ne 0 ]; then
  echo "Erro ao gerar backup." 
  echo -e "Subject: ERRO BACKUP MYSQL\n\nFalha ao gerar backup." \
| msmtp guilherme.figueiredo@sptech.school
  exit 1
fi

echo "Backup criado com sucesso."

aws s3 cp $FILE_PATH s3://$S3_BUCKET/

if [ $? -ne 0 ]; then
  echo "Erro ao enviar backup para S3."
  exit 1
fi

echo -e "Subject: BACKUP REALIZADO\n\nBackup $${DATE} concluido." \
| msmtp guilherme.figueiredo@sptech.school

echo "Upload concluído."