#!/bin/bash
set -euxo pipefail

curl -fsSL https://get.docker.com -o get-docker.sh
sudo sh get-docker.sh
sudo systemctl enable docker
sudo systemctl start docker

mkdir -p /app
cd /app

cat << 'EOF_SQL' > init.sql
SET NAMES utf8mb4;
SET CHARACTER SET utf8mb4;
${init_sql_content}
EOF_SQL

cat << 'EOF' > docker-compose.yml
version: "3.8"
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_DATABASE: db_brink_calcados
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: appuser
      MYSQL_PASSWORD: app123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.10-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

volumes:
  mysql_data:
  rabbitmq_data:
EOF

sudo docker compose up -d

sudo usermod -aG docker ubuntu

sudo apt update
sudo snap install aws-cli --classic
export DEBIAN_FRONTEND=noninteractive
echo "postfix postfix/mailname string localhost" | sudo debconf-set-selections
echo "postfix postfix/main_mailer_type string 'Local only'" | sudo debconf-set-selections
echo "msmtp msmtp/apparmor boolean true" | sudo debconf-set-selections
sudo apt install -y msmtp

mkdir -p /backup
sudo chown -R ubuntu:ubuntu /backup

cat << 'EOF_BACKUP' > /backup/backup.sh
${backup_script}
EOF_BACKUP

chmod +x /backup/backup.sh

mkdir -p /home/ubuntu/.aws

cat << EOF > /home/ubuntu/.aws/credentials
[default]
aws_access_key_id=${aws_access_key}
aws_secret_access_key=${aws_secret_key}
aws_session_token=${aws_session_token}
EOF

cat << EOF > /home/ubuntu/.aws/config
[default]
region=us-east-1
output=json
EOF

chown -R ubuntu:ubuntu /home/ubuntu/.aws

cat << EOF > /home/ubuntu/.msmtprc
defaults
auth on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account gmail
host smtp.gmail.com
port 587
from ${gmail_user}
user ${gmail_user}
password ${gmail_password}

account default : gmail
EOF

chmod 600 /home/ubuntu/.msmtprc

chown ubuntu:ubuntu /home/ubuntu/.msmtprc

cat << 'EOF_CRON' > /tmp/cron.sh
${cron_script}
EOF_CRON

chmod +x /tmp/cron.sh

nohup bash /tmp/cron.sh > /tmp/cron-init.log 2>&1 &